  @import url("https://fonts.google.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

 * {
 margin:0;
  padding: 0;
   box-sizing: border-box;
  font-family: "Poppins", sans-serif
 }

body {
  min-height: 100vh;
  background-color: #d2d2d2;

}

.sidebar {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 85px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #161a2d;
  padding: 25px 20px;
  transition: all 0.4s ease;
}

.sidebar:hover{
  width: 260px;

}

.sidebar-header {
  display: flex;
  align-items: center;

}
 .sidebar-header img {
  width: 42px;
  border-radius: 50%;
 }

 .sidebar-header h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  margin-left: 23px;
 }

 .sidebar-links {
  list-style: none;
  margin-top: 20px;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
 }

.sidebar-links h4 span {
  opacity: 0;
}

.sidebar:hover .sidebar-links h4 span {
  opacity: 1;
}

 .sidebar-links h4 {
  color: #fff;
  font-weight: 500;
  margin: 10px 0;
  white-space: nowrap;
 }

 .sidebar-links li a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #dbd4d4e3;
  font-weight: 500;
  padding: 15px 10px;
  white-space: nowrap;
  text-decoration: none;
 }

 .sidebar-links li a:hover {
  background-color: #ffffff2d;
  color: #fff;
  border-radius: 4px;

 }

 .user-account {
  margin-top: auto;
  padding: 12px 10px;
  margin-left: 10px;
 }

.user-profile h3 {
  font-size: 1rem;
  font-weight: 600;
}

.user-profile span {
  font-size: 0.775rem;
  font-weight: 600;
}

/* Sidebar */
.sidebar {
  width: 230px;
  height: 100vh;
  background-color: #161a2d; 
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 20px;
}

.sidebar-header {
  text-align: center;
  padding: 10px;
}

.sidebar-header img {
  width: 80px;
  height: 80px;
}

.sidebar h2 {
  font-size: 20px;
  margin-top: 15px;
  color: #009b46;
}

.sidebar-links {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar-links li {
  margin: 10px 0;
}

.sidebar-links a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #c8f7ff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 15px;
  transition: 0.2s;
}

.sidebar-links a:hover {
  background-color: #203356;
  color: #4ff0ff;
}

.user-account {
  margin-top: 40px;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #203356;
}


/* MAIN CONTENT */
.content {
  margin-left: 250px;
  padding: 40px;
  max-width: 700px;
  margin-top: 40px;
  color: #0b1b2b;
}

.content h2 {
  font-size: 26px;
  margin-bottom: 10px;
  color: #161a2d;
}

.content p {
  font-size: 16px;
  margin-bottom: 8px;
  color: #1c2b3f;
}

.content h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  color: #12395d;
}
